<div class="container pad-top">
  <table class="table shipwrecktable">
       <tr>
          <td>Emp ID</td>
          <td>{{shipwreck.empId}}</td>
      </tr>
      <tr>
          <td>Name</td>
          <td>{{shipwreck.name}}</td>
      </tr>
      <tr>
          <td>project</td>
          <td>{{shipwreck.project}}</td>
      </tr>
      <tr>
          <td>phoneNo</td>
          <td>{{shipwreck.phoneNo}}</td>
      </tr>
      <tr>
          <td>location</td>
          <td>{{shipwreck.location}}</td>
      </tr>
  </table>
  <div>
      <a class="btn btn-primary" ui-sref="editShipwreck({id:shipwreck.id})">Edit</a>
  </div>
</div>
